@tailwind base;
@tailwind components;
@tailwind utilities;


body{background:#000;}
.ourJourney-logo svg {
  width: 100%;
  height: 100%;
 }
.thumbnailBox {
  overflow: hidden;
}
/* .react-card-flipper {
  background-color:#171717;
} */