@keyframes load {
  0%{opacity:0;}
  100%{opacity:1;}
}
body{background: #272727;}
.container{perspective:1000px;}
.cube{position:relative;width:100%;height:100%;transform-style:preserve-3d;
  transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);transition:0.8s;}
.wall{position:absolute;width:100%;height:100%;line-height:100%;}
/* .wall {background: #272727;} */
/* .front{transform: translateZ(-50%); } */
.front {transform: translateZ(-19vh)  rotateY(180deg); }
/* .back{transform:translateZ(-50%) rotateY(180deg); } */
.back{transform:translateZ(-19vh) rotateY(180deg);}
.right{transform:translateX(50%) rotateY(90deg); }
.left{transform:translateX(-50%) rotateY(-90deg);}
.top{transform:translateY(-50%) rotateX(90deg); }
.bottom{transform:translateY(50%) rotateX(-90deg); }
.journeyimg svg{width:100%;height:100%;}
.wall{
   background: #353535;
   border: 1px solid #000;
}
.bg-yellow { 
  background: #ffc700!important;
}
.bg-blue {
  background: #2D68FF!important;
}
.bg-gray { 
  background: #393939
}
button#btn3 {
  position: absolute;
  top: 0;
}

.blank {background: #353535;}
.menu-parent > div{ overflow:hidden }