@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

@font-face {
    font-family: 'PPNeueBitBold';
    src: url('./fonts/PPNeueBitBold.eot');
    src: url('./fonts/PPNeueBitBold.eot') format('embedded-opentype'),
         url('./fonts/PPNeueBitBold.woff2') format('woff2'),
         url('./fonts/PPNeueBitBold.woff') format('woff'),
         url('./fonts/PPNeueBitBold.ttf') format('truetype'),
         url('./fonts/PPNeueBitBold.svg#PPNeueBitBold') format('svg');
}
@font-face {
    font-family: 'PPGoshaSansRegular';
    src: url('./fonts/PPGoshaSansRegular.eot');
    src: url('./fonts/PPGoshaSansRegular.eot') format('embedded-opentype'),
         url('./fonts/PPGoshaSansRegular.woff2') format('woff2'),
         url('./fonts/PPGoshaSansRegular.woff') format('woff'),
         url('./fonts/PPGoshaSansRegular.ttf') format('truetype'),
         url('./fonts/PPGoshaSansRegular.svg#PPGoshaSansRegular') format('svg');
}



.font-neuebit {font-family: 'PPNeueBitBold';}
.font-italianno {font-family: "Italianno", cursive;}
.font-GoshaSans {font-family: 'PPGoshaSansRegular';}
.font-size-200 { font-size: 200px;}
body { position: relative; font-family: "Open Sans", sans-serif; min-height: 100%;}
.grid-rows-custome { grid-template-rows: 1fr 1fr 1fr 1fr;}
.sivrsalogo svg {width: 60%; height: 100%;}
.nextpreimg svg{ height: 100%;}
.journeyimg svg { width: 100%;}
.founderbg img { width: 100%; height: 100%; object-fit: cover; }
.latestvideo video { width: 160px; height: 190px;}

/* Responsive */
@media(max-width:1199px){
.font-size-200 { font-size: 150px;}
}

@media(max-width:991px){
.font-size-200 { font-size: 100px;}
}

@media(max-width:767px){
.font-size-200 { font-size: 80px;}
}

@media(max-width:575px){
.font-size-200 { font-size: 60px;}
}
@media(max-width:480px){
.font-size-200 { font-size: 30px;}
}   

@media(max-width:480px){
.messageusbtn  svg { width: 100px;}
}