@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body { position: relative; font-family: "Open Sans", sans-serif; min-height: 100%;}
.grid-rows-custome { grid-template-rows: 1fr 1fr 1fr 1fr;}
.sivrsalogo svg {width: 60%; height: 100%;}
.nextpreimg svg{ height: 100%;}