 
body {
 
  height: 100vh;
  margin: 0; 
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80px;
  height: 80px; */
  margin: 0 -80px 0 0;
}
.cube {
  position: relative;
  width: 1px;
  height: 1px; transition: 0.5s;
  margin: 0 80px 0 0;
  transform-style: preserve-3d;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg)
}
.wall {
  width: 80px;
  height: 80px;
  position: absolute;
  left: calc(-80px / 2);
  top: calc(-80px / 2);
  text-align: center;
  line-height: 100px;
  background: #000;
}

.front {
  transform: translateZ(calc(80px / 2));
  background: #2d2d2d;
}
.back {
  transform: translateZ(calc(-80px / 2)) rotateY(180deg);
  background: #1f1f1f;
}
.right {
  transform: translateX(calc(80px / 2)) rotateY(90deg);
  background: #080808;
}
.left {
  transform: translateX(calc(-80px / 2)) rotateY(-90deg);
  background: #242424;
}
.top {
  transform: translateY(calc(-80px / 2)) rotateX(90deg);
  background: #131212;
}
.bottom {
  transform: translateY(calc(80px / 2)) rotateX(-90deg);
  background: #1a1919;
}
 
 