@keyframes load {
  0%{opacity:0;}
  100%{opacity:1;}
}
body{background:#000;}
.container{perspective:1000px;}
.cube{position:relative;width:100%;height:100%;transform-style:preserve-3d;
  transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);transition:0.5s;}
.wall{position:absolute;width:100%;height:100%;line-height:100%;}
.wall {background: #000;}
.front{transform: translateZ(-50%);background:#7c4848;}
.back{transform:translateZ(-50%) rotateY(180deg);background:#418658;}
.right{transform:translateX(50%) rotateY(90deg);background:#331169;}
.left{transform:translateX(-50%) rotateY(-90deg);}
.top{transform:translateY(-50%) rotateX(90deg);background:#341350;}
.bottom{transform:translateY(50%) rotateX(-90deg);background:#961480;}
.journeyimg svg{width:100%;height:100%;}
.wall{overflow:hidden;}

