body{height:100vh;margin:0;display:flex;justify-content:center;align-items:center;background-color:#f0f0f0;}
.container{ perspective:1000px;}
.cube{position:relative;width:100%;height:100%;transform-style:preserve-3d;transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);transition:0.5s;}
.wall{position:absolute;width:100%;height:100%;text-align:center;line-height:100%;background:#000;}
.front{transform:translateZ(50%);background:#2d2d2d;}
.back{transform:translateZ(-50%) rotateY(180deg);background:#1f1f1f;}
.right{transform:translateX(50%) rotateY(90deg);background:#080808;}
.left{transform:translateX(-50%) rotateY(-90deg);background:#242424;}
.top{transform:translateY(-50%) rotateX(90deg);background:#131212;}
.bottom{transform:translateY(50%) rotateX(-90deg);background:#1a1919;}
